<div class="site-preloader-wrap">
  <div class="spinner"></div>
</div>
<header class="header">
  <div class="primary-header">
    <div class="container">
      <div class="primary-header-inner">
        <div class="header-logo">
          <a href="#"><img src="img/logo-dark.png" alt="Indico"></a>
        </div>
        <div class="header-menu-wrap">
          <ul class="dl-menu">
            <li>
              <a href="#">Home</a>
              <ul>
                <li><a href="index.html">Home Default</a></li>
                <li><a href="index-2.html">Home Modern</a></li>
              </ul>
            </li>
            <li>
              <a href="#">About</a>
              <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="about-company.html">About Company</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Services</a>
              <ul>
                <li><a href="services-1.html">Services 01</a></li>
                <li><a href="services-2.html">Services 02</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul>
                <li><a href="projects.html">Our Projects</a></li>
                <li><a href="project-single.html">Project Single</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="testimonial.html">Testimonial</a></li>
                <li><a href="404.html">404 Error</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Blog</a>
              <ul>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-classic.html">Blog Classic</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="header-right">
          <a class="menu-btn" href="#">Request a Quote</a>
          <div class="mobile-menu-icon">
            <div class="burger-menu">
              <div class="line-menu line-half first-line"></div>
              <div class="line-menu"></div>
              <div class="line-menu line-half last-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>